<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todolist</title>
    <script src="/vue.js"></script>
    <style>
        #app {
            position: absolute;
            left: 50%;
            top: 35%;
            width:200px;
            height:100px;
            margin-left:-100px;
            margin-top:-20px;

        }
        li{
            list-style: circle;
        }
    </style>
</head>
<body>
<div id="app" >
    <h1>To-Do-List</h1>
    <input type="text" v-model="inputValue">
    <button @click="handleBtnClick">提交</button>
    <ul>
<!--        <li v-for="item in list">{{item}}</li>-->
        <todo-list v-bind:content="item"  v-for="item in list"></todo-list>
    </ul>
</div>
<script>
// 全局组件
/*    Vue.component('TodoList',{
        props:['content'],
        template:`
        <li>{{content}}</li>
        `
    })*/
// 局部组件
var TodoList = {
    props:['content'],
    template:`
        <li>{{content}}</li>
        `
}


    var app = new Vue({
        el:'#app',
        components:{
                TodoList : TodoList
        },
        data:{
            inputValue:'',
            list:[]
        },
        methods :{
            handleBtnClick:function (){
                this.list.push(this.inputValue)
                this.inputValue = ''
            }
        }
    })
</script>
</body>
</html>